@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: #e8e6e6 !important;

}

header{
  width: 100% !important;
  height: 80px !important;
  background: #fff !important;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1000;
}
header .logo{width: 45px !important;}
header .row{margin: 0px !important;}

header button.rounded-circle{
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  background: #f0f5ff !important;
  color: #292929;

}
header button.rounded-circle:hover svg{
  color: #00c8ff;
  transition: all 0.2s ease-in-out;
  font-size: 24px !important;
}
header button.rounded-circle svg{
  color: #000;
  font-size: 22px !important;
}


.searchBox{
  height: 40px;
  width: 400px;
  min-width: 400px !important;
  background: #f0f5ff;
}
.searchBox svg{
  color: #292929;
  font-size: 40px;
  padding: 2px 10px;
}
.searchBox input{
  background: #f0f5ff;
  outline: none !important;
  border: none !important;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.part3 button svg{
  font-size: 20px !important;
  
}

.myAcc{
  color: #000;
  text-align: left !important;  
  text-transform: capitalize !important;
}

 .userImg .rounded-circle{
  display: flex;
  align-items: center !important;
  justify-content: center !important;;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

 .userImg .rounded-circle img{
  width: 100%;
  height: 100%;
  object-fit: contain;

}

.userInfo   p{
  opacity: 0.7;
}


.notification .MuiPaper-root {
  top: 78px !important;
    left: 70% !important;
    /* border: 11px slid red !important; */
    width: 350px;
    max-height:400px;
    overflow-y: scroll !important;
    border-radius: 4px !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
/* #notification ::-webkit-scrollbar{
  width: 10px;
  height: 10%;
  background-color: #b5cdd3;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
} */

#notification::-webkit-scrollbar-thumb {
  background-color: #00c8ff;
  border-radius: 10px;
}

#notification::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}

.infoh4{
  white-space:break-spaces !important;
  font-size: 16px;
  margin-left: 15px;
}


.info .time{
  font-size: 13px;
  font-weight: 600;
  color: rgb(6, 93, 255) !important;
  margin-left: 15px;
  
}



.main .sideWrapper{
  width: 20%;
  flex: 0 0 30%;
  transition: all 0.3 ease-in-out;

}
.main .sideWrapper .sidebar{
  width: 20%;
  height: calc(100% - 70px);
  position: fixed !important;
  top: 70px;
  left: 0px ;
  background: #ffffff;
 overflow-y: scroll !important;;
  padding-bottom: 40px;
}

.main .sideWrapper .sidebar ::-webkit-scrollbar-thumb {
  height: 10px;
  width: 10px;
  background-color: #00c8ff !important;
  border-radius: 10px;
}

.main .sideWrapper .sidebar::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}
.main .sideWrapper .sidebar ul li{
  list-style-type: none !important;
  padding: 10px 10px;
  border-radius: 5px;
}

.main .sideWrapper .sidebar ul li button:hover{
  background: rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in-out;
}
.main .sideWrapper .sidebar ul li button{
  align-items: center;
  justify-content: center;
  color: #000;
  padding: 12px 15px !important;
  text-transform: capitalize !important; 
  text-align: left;
  border-radius: 0px !important;
  width: 100%;
  border-radius: 7px !important;
}
.main .sideWrapper .sidebar ul li button *{
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 20px;
}
.main .sideWrapper .sidebar ul li button .icon{ width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; margin-left:10px; margin-right:10px;}
.main .sideWrapper .sidebar ul li button .icon svg{ font-size: 25px;}
.main .sideWrapper .sidebar ul li button .arrow { width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; margin-left:auto; transition: all 0.1s ease-in-out;}
.main .sideWrapper .sidebar ul li button.active{background: rgb(145, 145, 145);}
.main .sideWrapper .sidebar ul li button.active .arrow svg{ transform: rotate(90deg);} 
.main .sideWrapper .sidebar ul li button.active .icon  svg{ color: #002aff !important;}
.main .sideWrapper .sidebar ul li  ul li{
  list-style: none; 
  padding-left: 40px;
  
  
}


.main .sideWrapper .sidebar ul li ul li a{ border-bottom: 0px !important; text-decoration: none; color: #747171; font-size: 16px; padding: 7px 10px; border-left: 2px solid rgba(0, 0, 0, 0.1); transition: all 0.1s ease-in-out;}

.main .sideWrapper .sidebar ul li ul li a:hover{
  color: #002aff;
  transition: all 0.1s ease-in-out;
  border-left: 2px solid rgb(6, 93, 255);
}
.main .sideWrapper .sidebar ul li .submenuWrapper{transition: all 0.5s ease-in-out;}
.main .sideWrapper .sidebar ul li .submenuWrapper .collapse{ height: 0px; transition: all 0.5s ease-in-out; }
.main .sideWrapper .sidebar ul li .submenuWrapper .collapsed{ height: auto;  transition: all 0.4s ease-in-out; padding: 10px 10px;}

.logoutWrapper  {width: 85% !important; background-color: #00c8ff; margin: 20px; margin-right: 60px; height: 90px; border-radius: 20px;}

.logout{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.logout button:hover{background: rgb(79, 157, 157);}
.logout button{
  background: rgb(125, 241, 241) !important;
  border-radius: 6px !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  margin-left: 10px;
  padding: 5px 10px !important;
  box-shadow: rgba(255, 0, 0, 0.1) 0px 7px 12px;
}


























































